@page "/"
@using Entities;
@using Data;
@inject NavigationManager navigationManager;
@inject IProductService productService;

<h3>All Product Component</h3>
<button @onclick="createProduct">CREATE</button>
<table class="table-responsive">
    <thead>
    <tr >
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">DISCOUNT</th>
        <th scope="col">OPERATION</th>
    </tr>
        </thead>
    <tbody>

@foreach (var product in products)
{
    <tr>
    <td>@product.Pid</td>
    <td>@product.Name</td>
    <td>@product.Price %</td>
    <td>@product.Discount</td>
    <td><a href="/formProduct/@product.Pid">Edit</a>&nbsp;|&nbsp;<a href="#" @onclick="() => deleteProduct(product.Pid)">Delete</a></td>
        </tr>
}
</tbody>
</table>

@code {
    private List<Product> products = new List<Product>();

    protected override void OnInitialized()
    {
        products = productService.getAllproducts();
    }

    private void createProduct()
    {
        navigationManager.NavigateTo("/productForm");
    }

    private void deleteProduct(int id)
    {
        Product product = new Product()
        {
            Pid = id
        };
        int result = productService.removeProduct(product);
    }

}
